body {
    background-color: #9CBDC6;}
.carousel-item img {
height: 500px;
object-fit: cover;
}

.carousel-caption {background-color: rgba(0, 0, 0, 0.6); 
padding: 15px;
border-radius: 8px;
bottom: 20px;
color: hsl(328, 54%, 56%); 
}
.carousel-caption h3 {
font-size: 1.75rem; 
font-weight: 600; 
margin-bottom: 8px;
color: #ffffff;
}
.carousel-caption p {
font-size: 1.1rem; 
margin-bottom: 0;
color: #ffffff;
}
h1
{
    color: #ECD88C;
    text-align: center;
    margin-top: 20px;
    font-size: 3rem;
    font-weight: bold;
}
h2
{
    color: #ECD88C;
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
    font-weight: bold;
}
h3
{
    color: #ECD88C;
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
}
textarea, input[type="text"], input[type="email"], input[type="tel"], select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 40px;
    box-sizing: border-box;
}
text {
    color: #ECD88C;
    margin-left: 100px;
    margin-right: auto;
    
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
}
p
{
    color: #FFFFFF;
    text-align: justify;
    margin: 40px;
    font-size: 1.2rem;
    line-height: 1.6;
}