* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: wheat;
}
.contenedor{
    display: flex;
    justify-items: center;
}
.imageEvents{
display: flex;
    justify-content: center;  
    align-items: center;      
}

.contenedor1{
text-align: center;
}



.text-2{
    text-align: center;
}